.header {
  width: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  text-align: center;
}
.header_profile {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_profile > img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  background-color: white;
}
.header_user {
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  flex-grow: 1;
}
.header_user_info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
.header_user_wrapper {
  display: flex;
  gap: 1rem;
  width: 100%;
}
.header_user_wrapper > div {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.header_user_wrapper > div > p {
  position: absolute;
  top: -90%;
  left: 50%;
  width: 9rem;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  /* font-weight: bold; */
  font-size: 0.8rem;
  /* animation-name: attend;
  animation-duration: 3s;
  animation-delay: 200ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; */
}
@keyframes attend {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1);
  }
  80% {
    transform: scale(1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.header_user_name {
  font-size: 1.7rem;
  font-weight: bold;
}
.header_coin {
  width: 2rem;
  height: 2rem;
  background-color: white;
  padding: 0.1rem;
  box-sizing: border-box;
  border-radius: 10px;
  object-fit: cover;
  animation-name: attend;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.header_info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: bold;
}
.header_bottom {
  display: flex;
  gap: 1rem;
  width: 50%;
}
