.header {
  width: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  text-align: center;
}
.header_profile {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_profile > img {
  width: 10rem;
  height: 10rem;
  border: none;
  border-radius: 100%;
  background-color: lightgray;
}
.header_user {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.header_user_info {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  gap: 1rem;
}
.header_user_name {
  font-size: 1.7rem;
  font-weight: bold;
}
.header_info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: bold;
}
.header_bottom {
  display: flex;
  gap: 1rem;
}
.header_button {
  width: 100%;
  padding: 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background: linear-gradient(to bottom, #ffffff, #fcff4f);
  border-radius: 5px;
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
