.container {
  min-width: 68rem;
  height: 100vh;
  padding: 2rem 4rem;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #D8FAFF, #B6CDFF);
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  width: 60rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
/* ---------------------------------------------------------- */
.header {
  display: flex;
  align-items: center;
}
.header_button {
  width: 20%;
  padding: 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background: linear-gradient(to bottom, #FFFFFF, #FCFF4F);
  border-radius: 5px;
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.main_nav {
  height: 5%;
  display: flex;
  gap: 1rem;
  border-bottom: 3px solid lightgray;
  align-items: end;
}
.button {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  font-weight: bold;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
.button:hover {
  color: gray;
}
.active_button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: gray;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  border-radius: 10px 10px 0 0;
}
.main_contents {
  height: 95%;
}
.main_contents_wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 1rem;
  padding-top: 0.5rem;
  box-sizing: border-box;
  overflow: scroll;
  scrollbar-width: none;
}