.container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 20;
}
.wrapper {
  background-color: white;
  width: 30rem;
  height: 30rem;
  border-radius: 20px;
  box-sizing: border-box;
  z-index: 50;
}
.background {
  position: absolute;
  background-color: black;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}
/* ------------------------------------ */
.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 3rem;
  border-bottom: 1px solid lightgray;
}
.header_title {
  text-align: center;
  margin: 0 auto;
  font-size: 1.2rem;
  font-family: "Pretendard-Bold", sans-serif;
}
.header_close {
  position: absolute;
  right: 0.5rem;
  width: 10%;
  font-size: large;
  border: none;
  background: none;
}
/* ----------------------------------------- */
.section {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0 0 20px 20px;
  overflow: scroll;
  scrollbar-width: none;
  background: linear-gradient(to bottom, #d8faff, #b6cdff);
}
