.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  height: 3rem;
}
.list > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.list > div > img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  border: 1px solid black;
  border-radius: 100%;
}
.list > p {
  flex-grow: 1;
  font-weight: bold;
}
