.container {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 20;
}
.wrapper {
  background-color: white;
  width: 30rem;
  height: 30rem;
  border-radius: 20px;
  box-sizing: border-box;
  z-index: 50;
}
.background {
  position: absolute;
  background-color: black;
  opacity: 0.8;
  width: 100%;
  height: 100%;
}
/* ------------------------------------ */
.header {
  position: relative;
  display: flex;
  align-items: center;
  height: 3rem;
  border-bottom: 1px solid lightgray;
}
.header_title{
  text-align: center;
  margin: 0 auto;
}
.header_close {
  position: absolute;
  right: 0.5rem;
  width: 10%;
  font-size: large;
  border: none;
  background: none;
}
.main {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}
.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  height: 3rem;
  /* background-color: gray; */
}
.list > div {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: black;
}
.list > p {
  flex-grow: 1;
  font-weight: bold;
}
.list > button {
  padding: 0.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background: linear-gradient(to bottom, #ffffff, #fcff4f);
  border-radius: 5px;
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}