.wrapper_S {
  aspect-ratio: 1/1;
  background: linear-gradient(180deg, #ff00f2, #ff8400, #f4ff58);
  padding: 1px;
  border-radius: 10px;
  position: relative;
}
.wrapper_A {
  aspect-ratio: 1/1;
  background-color: #ff63f7;
  padding: 1px;
  border-radius: 10px;
  position: relative;
}
.wrapper_B {
  aspect-ratio: 1/1;
  background-color: #79ff51;
  padding: 1px;
  border-radius: 10px;
  position: relative;
}
.wrapper_C {
  aspect-ratio: 1/1;
  background-color: #f4ff58;
  padding: 1px;
  border-radius: 10px;
  position: relative;
}
.wrapper_D {
  aspect-ratio: 1/1;
  background-color: #eaeaea;
  padding: 1px;
  border-radius: 10px;
  position: relative;
}
.wrapper_S::before,
.wrapper_A::before,
.wrapper_B::before,
.wrapper_C::before,
.wrapper_D::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: white;
  border-radius: 7px;
}
/* ------------------------------------ */
.img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.img > img {
  width: 100%;
  height: 100%;
}

.disabled {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.75;
  z-index: 50;
  border-radius: 10px;
}
.count {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  border: none;
  padding: 0.1rem 1rem;
  border-radius: 20px;
  background-color: lightgray;
}
/* --------------------------------------- hover 스타일 제거 */
/* .item {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}
.item > p:first-child {
  font-size: 3rem;
  font-weight: bold;
}
.item > p:nth-child(2) {
  font-size: 0.8rem;
  font-weight: bold;
}
.item:hover {
  opacity: 1;
} */