.container {
  min-width: 68rem;
  height: 100vh;
  padding: 2rem 4rem;
  box-sizing: border-box;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  opacity: 0.95;
}
.wrapper {
  width: 44rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  position: relative;
  z-index: 10;
  padding: 1rem;
  box-sizing: border-box;
}
.background {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
/* ------------------------------------------------------------ */
.close_button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  width: 2rem;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}
.button:hover {
  color: red;
}
/* -------------------------------- */
.section {
  display: flex;
  height: 100%;
}
.section_aside {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_aside > img {
  width: 70%;
  height: 70%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.section_article {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-weight: bold;
  font-size: 1rem;
}
.section_article_aside {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.section_article_aside > p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  color: #545454;
}
.section_article_aside > p > span {
  width: 70%;
  text-align: center;
  color: #2d2d2d;
}
.section_article_button {
  position: absolute;
  bottom: 0;
  right: 0;
}