.container {
  min-width: 68rem;
  height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #d8faff, #b6cdff);
  position: relative;
}
.wrapper {
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
/* ------------------------------------------- */
.header {
  height: 100vh;
  padding-top: 8rem;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: start;
}
.title_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 3rem;
  text-align: center;
}
.description {
  font-size: 1.2rem;
  color: gray;
  opacity: 0.7;
}
.previews {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.previewItem {
  position: relative;
  width: 20rem;
  height: 10rem;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  box-shadow:
    0 3px 5px 2px rgba(0, 0, 0, 0.2),
    0 -2px 4px rgba(255, 255, 255, 0.4);
}
.previewItem:hover {
  background-color: #2d2d2d;
}
.previewItem:hover .imageWrapper {
  opacity: 0.1;
}
.previewItem:hover .text {
  top: 50%;
  left: 40%;
  transform: translateX(-50%, -50%);
  opacity: 1;
  color: white;
}
.imageWrapper {
  position: absolute;
  inset: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageWrapper > img {
  width: 20rem;
  height: 10rem;
}
.text {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  white-space: nowrap;
  font-size: 1.2rem;
  font-weight: bold;
  transition:
    left 0.4s ease,
    opacity 0.4s ease;
  opacity: 0;
  z-index: 2;
}
/* 반응형 UI */
@media (width <= 1024px) {
  .container {
    min-width: 375px;
    height: 100vh;
  }
  .header {
    padding: 5rem;
  }
  .title {
    font-size: 2rem;
  }
  .description {
    font-size: 1rem;
  }
  .previews {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 10rem);
  }
  .previewItem {
    width: 100%;
    height: 100%;
  }
}
@media (width <= 640px) {
  .header {
    padding: 5rem 0.25rem;
  }
}
