.container {
  min-width: 68rem;
  height: 100vh;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #d8faff, #b6cdff);
}
.wrapper {
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  position: relative;
}
/* ------------------------------------------- */
.nav {
  position: fixed;
  top: 25rem;
  right: 1.5rem;
  z-index: 50;
}
.nav > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}
.nav > ul > li {
  background-color: white;
  box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  border-radius: 100%;
  cursor: pointer;
}
.nav > ul > li:hover {
  background-color: #2d2d2d;
  transition: all 0.2s ease-in-out;
}
/* ----------------------------------- */
.header {
  height: 100vh;
  padding-top: 8rem;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: start;
}
.title_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 3rem;
  text-align: center;
}
.description {
  font-size: 1.2rem;
  color: gray;
  opacity: 0.7;
}
.article {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
}
.article > h3 {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 3px solid lightblue;
}
.img_preview {
  width: 100%;
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory; /* 가로 스크롤 스냅 활성화 */
  scroll-behavior: smooth; /* 부드러운 스크롤 */
  scrollbar-width: none;
}
.img_preview > img {
  width: 60rem;
  height: 30rem;
  border-radius: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  scroll-snap-align: center;
}
/* ---------------------------------- */
.previews {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.previewItem {
  position: relative;
  width: 20rem;
  height: 10rem;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  box-shadow:
    0 3px 5px 2px rgba(0, 0, 0, 0.2),
    0 -2px 4px rgba(255, 255, 255, 0.4);
}
.imageWrapper {
  position: absolute;
  inset: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imageWrapper > img {
  width: 20rem;
  height: 10rem;
}
.text_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  white-space: nowrap;
  font-size: 1.2rem;
  font-weight: bold;
  transition:
    left 0.4s ease,
    opacity 0.4s ease;
  opacity: 0;
  z-index: 2;
}
.previewItem:hover {
  background-color: #2d2d2d;
}
.previewItem:hover .imageWrapper {
  opacity: 0.1;
}
.previewItem:hover .text {
  top: 50%;
  left: 40%;
  transform: translateX(-50%, -50%);
  opacity: 1;
  color: white;
}
