.main_reply {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}
.main_reply_input {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: white;
  position: relative;
}
.main_reply_input > input {
  height: 100%;
  flex-grow: 1;
  border: none;
  border-radius: 5px;
  padding: 0 0.5rem;
  background: none;
  opacity: 0.7;
}
.main_replyError {
  position: absolute;
  color: red;
  bottom: -1rem;
  font-size: 0.8rem;
  font-weight: bold;
}
.main_replyList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
}
.pageList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  list-style: none;
}
.pageNum {
  cursor: pointer;
  font-weight: bolder;
  padding: 0.3rem;
  width: 1rem;
  text-align: center;
}
.pageNum:hover {
  color: white;
}
.active_pageNum {
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bolder;
  padding: 0.5rem;
  width: 1rem;
  text-align: center;
  background-color: gray;
}
