.container {
  min-width: 68rem;
  height: 100vh;
  padding: 4rem;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #ffe9e9, #ff9fb1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  flex-direction: column;
}
.wrapper {
  width: 60rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
/* ------------------------------- */
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  color: #2d2d2d;
  font-weight: bold;
}
.header_title {
  font-size: 2.5rem;
}
.header_description {
  font-size: 1.125rem;
}
/* ----------------------------- */
.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}
.section > div > img {
  width: 20rem;
  height: 20rem;
  object-fit: contain;
}
/* 반응형 UI */
@media (width <= 1024px) {
  .container {
    min-width: 375px;
    padding: 5rem 0.25rem;
  }
  .wrapper {
    width: 100%;
  }
  .header_title {
    font-size: 2rem;
  }
  .header_description {
    font-size: 1rem;
  }
  .section > div > img {
    width: 10rem;
    height: 10rem;
  }
}
