.container {
  min-width: 68rem;
  height: 100vh;
  padding: 2rem 4rem;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #FFE9E9, #FF9FB1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
  /* ----------------- */
  flex-direction: column;
}
.wrapper {
  width: 60rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;

}
/* ------------------------------------------------------------ */
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  color: #2D2D2D;
  font-weight: bold;
}
.header > h1 {
  font-size: 2.5rem;
}
.header > p {
  font-size: 1.125rem;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}
.main > button {
  width: 10rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background: linear-gradient(to bottom, #FFFFFF, #FCFF4F);
  border-radius: 5px;
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
