.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/* ---------------------------------------- */
.open_capsule {
  width: 20rem;
  height: 28rem;
  animation-name: open;
  animation-duration: 3s;
  animation-delay: 200ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.result_open_capsule {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.result_open_capsule > img {
  width: 15rem;
  height: 15rem;
  animation-name: open;
  animation-duration: 3s;
  animation-delay: 200ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes open {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(0);
  }
}
/* ----------------------------------------- */
.section {
  position: absolute;
  bottom: -3rem;
  right: 0;
  color: lightgray;
  font-weight: bold;
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}
/* 반응형 UI */
@media (width <= 1024px) {
  .wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .open_capsule {
    width: 12rem;
    height: 18rem;
  }
  .result_open_capsule > img {
    width: 10rem;
    height: 10rem;
  }
}
