.close_capsule {
  width: 20rem;
  height: 20rem;
  animation-name: close;
  animation-duration: 2s;
  animation-delay: 200ms;
  animation-timing-function: ease-in-out;
}

@keyframes close {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(10deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  15% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  45% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  55% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
    opacity: 1;
  }
  65% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(-10deg);
    opacity: 0.6;
  }
  75% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
    opacity: 0.3;
  }
  85% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(-10deg);
    opacity: 0;
  }
  95% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
