.edit_main {
  display: flex;
  gap: 0.5rem;
  width: 100%;
  position: relative;
}
.edit_main > input {
  width: 90%;
  background-color: white;
  border-radius: 5px;
  padding: 0.5rem;
  box-sizing: border-box;
  border: none;
}
.edit_bottom {
  width: 10%;
  display: flex;
}
.edit_button {
  all: unset;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #2d2d2d;
  cursor: pointer;
}
.edit_button:hover {
  color: red;
  font-weight: bold;
}
.edit_button:nth-child(2):hover {
  color: gray;
  font-weight: bold;
}
.edit_error {
  color: red;
  font-weight: bold;
  position: absolute;
  top: 0.2rem;
  left: 7rem;
}
/* 반응형 UI */
@media (width <= 1024px) {
  .edit_main > input {
    width: 80%;
  }
  .edit_bottom {
    width: 20%;
    font-size: 0.875rem;
  }
  .edit_error {
    top: 40%;
    right: 0;
    font-size: 0.75rem;
  }
}
