.article_item_S {
  aspect-ratio: 1/1;
  background: linear-gradient(180deg, #ff00f2, #ff8400, #f4ff58);
  padding: 1px;
  border-radius: 10px;
  position: relative;
}
.article_item_A {
  aspect-ratio: 1/1;
  background-color: #ff63f7;
  padding: 1px;
  border-radius: 10px;
  position: relative;
}
.article_item_B {
  aspect-ratio: 1/1;
  background-color: #79ff51;
  padding: 1px;
  border-radius: 10px;
  position: relative;
}
.article_item_C {
  aspect-ratio: 1/1;
  background-color: #f4ff58;
  padding: 1px;
  border-radius: 10px;
  position: relative;
}
.article_item_D {
  aspect-ratio: 1/1;
  background-color: #eaeaea;
  padding: 1px;
  border-radius: 10px;
  position: relative;
}
.article_item_S::before,
.article_item_A::before,
.article_item_B::before,
.article_item_C::before,
.article_item_D::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: white;
  border-radius: 7px;
}
.article_item_img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.article_item_img > img {
  width: 100%;
  height: 100%;
}
.article_item_disabled {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.75;
  z-index: 50;
  border-radius: 10px;
}
.article_item_count {
  height: 1.2rem;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  border: none;
  padding: 0.1rem 0.8rem;
  border-radius: 20px;
  background-color: lightgray;
  color: #545454;
  font-weight: bold;
  font-size: 0.75rem;
}
