.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 0.5rem;
  box-sizing: border-box;
  overflow: scroll;
  scrollbar-width: none;
}
.item {
  width: 8rem;
  height: 8rem;
  background-color: lightgray;
  border-radius: 10px;
  position: relative;
}
.item > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.7),
    transparent
  );
  animation: shimmer 1.5s infinite ease-in-out;
}
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(150%);
  }
}
