.container {
  min-width: 68rem;
  height: 4rem;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 50;
}
.wrapper {
  display: flex;
  height: 100%;
  padding: 0 2rem;
}
.title {
  height: 100%;
  display: flex;
  align-items: center;
}
.link_wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
}