.main_list {
  height: 5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  position: relative;
  z-index: 10;
}
.main_background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.4;
  z-index: -10;
  border-radius: 10px;
}
.main_list > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.main_list > div > img {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: lightgray;
}
.main_list > div > button {
  width: 6rem;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background: linear-gradient(to bottom, #FFFFFF, #FCFF4F);
  border-radius: 5px;
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}