.item {
  background-color: white;
  aspect-ratio: 1/1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item > img {
  width: 6rem;
  height: 6rem;
  border-radius: 10px;
}