.item {
  background-color: white;
  aspect-ratio: 1/1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.item:hover {
  border: 3px solid #FF63F7;
  transition-duration: 100ms;
}
.item > img {
  width: 6rem;
  height: 6rem;
  border-radius: 10px;
}