.header {
  position: relative;
  width: 100%;
  height: 20rem;
  display: flex;
  border-radius: 10px;
}
.header_background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
  border-radius: 10px;
}
.header_image {
  position: relative;
  aspect-ratio: 1/1;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_image > img {
  width: 15rem;
  height: 15rem;
  background-color: white;
  border-radius: 10px;
  object-fit: contain;
}

.header_item {
  position: relative;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}
.header_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  border-radius: 10px;
}
.header_wrapper > p {
  flex-grow: 1;
  display: flex;
  align-items: center;
  width: 100%;
}

.header_wrapper > p > span {
  width: 20%;
}
.header_wrapper > p > strong {
  flex-grow: 1;
  text-align: center;
}
/* .header_button {
  width: 50%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background: linear-gradient(to bottom, #FFFFFF, #FCFF4F);
  border-radius: 5px;
  text-decoration: none;
  color: black;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
} */
/* ------------------------------------------- */
table {
  display: flex;
  gap: 1rem;
  height: 100%;
  width: 100%;
}
thead {
  width: 20%;
}
thead > tr {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  color: #717171;
  font-size: 1rem;
}
tbody {
  width: 100%;
}
tbody > tr {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  color: #2D2D2D;
  font-weight: bold;
  font-size: 1rem;
}

.header_Btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}