.article_S {
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  background: linear-gradient(180deg, #ff00f2, #ff8400, #f4ff58);
  padding: 1px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
}
.article_A {
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  background-color: #ff63f7;
  padding: 1px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
}
.article_B {
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  background-color: #79ff51;
  padding: 1px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
}
.article_C {
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  background-color: #f4ff58;
  padding: 1px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
}
.article_D {
  width: 8rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  background-color: #eaeaea;
  padding: 1px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
}
.article_S::before,
.article_A::before,
.article_B::before,
.article_C::before,
.article_D::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: white;
  border-radius: 7px;
}
/* ------------------------------------ */
.article_img {
  aspect-ratio: 1/1;
  object-fit: contain;
  width: 6rem;
  height: 6rem;
  border-radius: 10px;
  position: absolute;
}
.article_cnt {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  border: none;
  padding: 0.1rem 1rem;
  border-radius: 20px;
  background-color: lightgray;
  height: 1.5rem;
  display: flex;
  align-items: center;
  color: #545454;
  font-weight: bold;
  font-size: 0.75rem;
}
