.section {
  position: relative;
  width: 100%;
  height: 20rem;
  display: flex;
  border-radius: 10px;
}
.header_background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
  border-radius: 10px;
}
/* ------------------------------ */
.section_header {
  position: relative;
  aspect-ratio: 1/1;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_header > img {
  width: 15rem;
  height: 15rem;
  background-color: white;
  border-radius: 10px;
  object-fit: contain;
}
.section_header_nonImg {
  width: 15rem;
  height: 15rem;
  border-radius: 10px;
  background-color: lightgray;
}
/* -------------------------------- */
.section_article {
  position: relative;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
}
.section_article_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  border-radius: 10px;
}
.section_article_wrapper > p {
  flex-grow: 1;
  display: flex;
  align-items: center;
  width: 100%;
}
/* ------------------------------------------- */
table {
  display: flex;
  gap: 1rem;
  height: 100%;
  width: 100%;
}
thead {
  width: 20%;
}
thead > tr {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  color: #717171;
  font-size: 1rem;
}
tbody {
  width: 100%;
}
tbody > tr {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  color: #2d2d2d;
  font-weight: bold;
  font-size: 1rem;
}
.section_article_button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
